
/__pycache__
/kth_local_avi
.DS_Store
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.synctex.gz
/__pycache__
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.tex
report/main.synctex.gz
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.synctex.gz
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.synctex.gz
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.synctex.gz
